.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  z-index: 10;
}

.a {
  grid-column-start: 1;
  grid-column-end: 3;
}
.b {
  grid-row-start: 2;
  grid-row-end: 4;
}

.g {
  grid-column-start: 1;
  grid-column-end: 3;
}
